*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Texturina&display=swap');

Body{
    background: rgb(12,12,83);
    background: linear-gradient(0deg, rgb(16, 48, 66) 0%, rgba(12,12,83,1) 100%);
    color:white;
    font-family: 'Akaya Telivigala', cursive;

    // css de la barre de défilement
    /* largeur de la barre entière */
    &::-webkit-scrollbar {
        width: 10px;
    }
    
    /* le rail qui contient le bouton */
    &::-webkit-scrollbar-track {
        box-shadow: inset 0px 0px 3px black;
    }
    
    /* le bouton */
    &::-webkit-scrollbar-thumb {
        box-shadow: inset 2px 0px 3px black;
        background: #00a37d;
    }
    
    /* quand on hover sur le bouton */
    &::-webkit-scrollbar-thumb:hover {
        background: #03dba9; 
    }
}

li{list-style:none;}

h1, h2, h3{
    font-family: Texturina;
    letter-spacing: 0.1em;
}

a, a:visited, a:hover, a:link, a:active{
    text-decoration:none;
    color:white;
}

html{
    scroll-behavior: smooth;
}

button{
    border:none;
    background-color:rgba(0,0,0,0);
}