.Projet{
    margin: 20px;
    width: 400px;
    height: 400px;
    -webkit-box-shadow: 0px 0px 11px 5px #00a37d; 
    box-shadow: 0px 0px 11px 5px #00a37d;
    align-items: center;
    border-radius:5px;
    background-color: #333;

    .image{
        position:sticky;
        z-index: 1;
        width:400px;
        height:300px;
        overflow:hidden;
        cursor:pointer;

        .hoverImg{
            position: absolute;
            width:100%;
            height:100%;
            background-color:black;
            opacity: 0;
            transition: opacity 0.5s;
            border-radius: 5px 5px 0 0;
        }

        img{
            width: 400px;
            height: 300px;
            object-fit:cover;
            background-color: #14213D;
            border-radius: 5px 5px 0 0;
        }
    
        .contribution{
            position:relative;
            padding: 15px;
            text-align: center;
            transition: all 0.5s;
            background-color: rgba(0,0,0,0.8);
            font-size: 1.3em;
            color:white;
            font-family: 'Rosarivo', serif;
        }

        &:hover .contribution{
            transform:translateY(-100%);
        }

        &:hover .hoverImg{
            opacity: 0.5;
        }

    }

    .info{
        height:25%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
    }

    .noPointer{cursor: default;}
}

@media screen and (max-width: 1430px){
    .Projet{
        width: 325px;
        height: 325px;
        margin: 14px;
        .image{
                width: 325px;
                height: 225px;
                
                img{
                    width: 325px;
                    height: 225px;
                }
            }
        }
}

@media screen and (max-width: 700px){
    .Projet{
        width: 300px;
        height: 300px;

        h3{
            font-size: 1em;
        }

        .image{
                width: 300px;
                height: 200px;
                
                img{
                    width: 300px;
                    height: 200px;
                }
            }
        }
}